body {
    margin: 0px;
    font-family:"Andale Mono", sans-serif;
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color:rgb(227, 195, 161);
    font-size: 12px;
}

.header-top{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.header-top img {
    width: auto;
    height: 50px;;
}