body {
    margin: 0px;
    font-family:"Andale Mono", sans-serif;
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color:rgb(227, 195, 161);
    font-size: 12px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.header-top{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.header-top img {
    width: auto;
    height: 50px;;
}

.header-content {
    display: flex;
    background-color: #1F2937;
    padding: 10px 250px 50px 200px;
    justify-content: space-between;
    align-items: center;
    color: rgb(174, 122, 85);
}

.header-text{
    max-width: 600px;
    font-size: 20px;
}

.header-content img {
    width: auto;
    height: 230px;
}

.header-content button {
    background-color: #d1ac83;
    color:  rgb(138, 98, 69);;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
}

.content {
    display: flex;
    flex-direction: column;
    border-style: solid;
    background-color: rgb(220, 190, 169);
    color:#1F2937;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding-bottom: 100px;
}

h1 {
    max-height: 40px;
    text-align: center;
    font-weight:  900;
    font-size: 36px;
    padding-bottom: 30px;
}

.card {
    max-width: 250px;
    text-align: center;
    padding: 40px 5px 20px 5px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
    background-color: rgb(230, 216, 207);
    font-size: 14px;
}

.card img {
    width: 200px;
    margin-bottom: 15px;
}

.quote{
    background-color: rgb(247, 233, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.quote-text{
    max-width: 800px;
    font-weight: 900;
    font-size: 32px;
    margin-bottom: -10px;
}

.quote-person{
    font-size: 24px;
    align-self: flex-end;
    padding-right: 300px;
}

.ad {
    padding: 150px;
}

.content-ad {
    display: flex;
    background-color: #d1ac83;
    flex: none;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2)
}

.ad-text {
    max-width: 600px;
}

.ad-text p {
    font-size: 20px;
}

.ad-text h3 {
    font-weight: 900;
    font-size: 28px;
}

.content-ad button {
    font-family:"Andale Mono", sans-serif;
    height: 50px;
    border-style: solid;
    border-color: rgb(220, 190, 169);
    border-radius: 5px;
    background-color: #d1ac83;
    border-width: 3px;
    padding: 10px 25px;
}



