body {
    margin: 0px;
    font-family:"Andale Mono", sans-serif;
    display: flex;
    flex-direction: column;
    color: rgb(174, 122, 85);
}

ul{
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
    gap: 15px;
}

a {
    text-decoration: none;
    color:rgb(227, 195, 161);
    font-size: 12px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
}

.header-top{
    display: flex;
    background-color: #1F2937;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.header-top img {
    width: auto;
    height: 50px;;
}

.header-content {
    display: flex;
    background-color: #1F2937;
    padding: 10px 250px 50px 200px;
    justify-content: space-between;
    align-items: center;
}

.header-text{
    max-width: 600px;
    font-size: 20px;
}

.header-content img {
    width: auto;
    height: 230px;
}

.header-content button {
    background-color: #e8caac;
    color:  rgb(174, 122, 85);;
    border-style: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 5px 10px;
}